# Python
.venv/
__pycache__/
*.pyc

# C++ build artifacts
backend_cpp/build/
*.obj
*.o
*.dll
*.so
*.a
*.exe
*.lib

# IDE
.vs/
.vscode/
*.user

/review.txt
/task.md
/current_progress.txt
/pipeline.md
/Hướng dẫn thực hiện môn học (1).pptx
/error.txt
/task.txt
/pipeline.txt